<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @message.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @message.location_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
