<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= current_user.id %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= current_user.phone_number %>
</p>

<h2>Locations</h2>
<ul>
  <% @locations.each do |location| %>
    <li>
      Long: <%= h location.longitude %>
      Lat: <%= h location.latitude %>
      <%= link_to "show", location_path(location) %>
      (<%= link_to "remove", location, :method => :delete %>)
    </li>
  <% end %>
</ul>

<h2>Messages</h2>
<ul>
  <% @messages.each do |message| %>
    <li>
      From: <%= h message.sender.name %>
      Long: <%= h message.location.longitude %>
      Lat: <%= h message.location.latitude %>
      <%= link_to "show", message_path(message) %>
      (<%= link_to "remove", message, :method => :delete %>)
    </li>
  <% end %>
</ul>


