<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= current_user.id %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= current_user.phone_number %>
</p>

<h2>Locations</h2>
<ul>
  <% @locations.each do |location| %>
    <li>
      Long: <%= h location.longitude %>
      Lat: <%= h location.latitude %>
      <%= link_to "show", location_path(location) %>
      (<%= link_to "remove", location, :method => :delete %>)
    </li>
  <% end %>
</ul>

<h2>Location Requests</h2>
<ul>
  <% @location_requests.each do |location_request| %>
    <li>
      From: <%= h location_request.sender.name %>
      Long: <%= h location_request.location.longitude %>
      Lat: <%= h location_request.location.latitude %>
      <%= link_to "show", location_request_path(location_request) %>
      (<%= link_to "remove", location_request, :method => :delete %>)
    </li>
  <% end %>
</ul>


