<!DOCTYPE html>
<html>
<head>
  <title>ComeFindMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= link_to :friendships, friendships_path %>
    <%= link_to :locations, locations_path %>
    <%= link_to :location_requests, location_requests_path %>
    <%= link_to :sync, sync_index_path %>
    <% if current_user %>
      Logged in as <%= link_to current_user.name, user_path(current_user) %> 
      <%= link_to "Log Out", logout_path, method: "delete" %>
    <% else %>
      <%= link_to 'Sign Up', signup_path %> or 
      <%= link_to "Log In", login_path %>
    <% end %>
    <%= form_tag(search_users_path, :method => :get) do%>
      <%= label_tag(:email) %>
      <%= text_field_tag(:email) %>
      <%= label_tag(:phone_number) %>
      <%= text_field_tag(:phone_number, nil, :placeholder => "555-555-5555") %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <%= yield %>

</body>
</html>
