<!DOCTYPE html>
<html>
<head>
  <title>ComeFindMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= link_to :locations, locations_path %>
    <%= link_to :location_requests, location_requests_path %>
    <%= link_to :sync, sync_index_path %>
    <% if current_user %>
      Logged in as <%= link_to current_user.facebook_id, user_path(current_user) %> 
      <%= link_to "Log Out", logout_path, method: "delete" %>
    <% else %>
      <%= link_to 'Sign Up', signup_path %> or 
      <%= link_to "Log In", login_path %>
    <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <%= yield %>

</body>
</html>
